**Question 1.** Duscuss string slicing and provide examples.
**Answeer-** Python string supports slicing to create substring. Note that Python string is immutable, slicing creates a new substring from the source string and original string remains unchanged.
The slice() method splits the array according to the provided range parameters.

In [1]:
x = "Hello world"
print(x[0])
print(x[0:3])
print(x[-2])

H
Hel
l

**Question 2.** Explain the key features of List in python.
**Answer-** In the python list can store and orderd collection of items, or elements of varrying types. Lists are also a type of build in Data Structure in python(along with tupples, sets and dictionaries), which is a specified way of storing and formating data.
In the list we modified in many types-
1. Index method
2. Count method
3.Sort method
4. Append method
5.Remove method

In [6]:
# Index method
list = ["Pwskills", "Avaneesh", 1, 2 , 3]
print(list.index(3))

4

In [10]:
# Count Method
list = ["Pwskills","Avaneesh", 1, 2, 2]
print(list.count(2))

2

In [13]:
#  Sort method
x = [3,6,7,10]
x.sort()
print(x)

[3, 6, 7, 10]

In [14]:
# Append method

x = [7,5,2,1]
x.append("Pwskills")
print(x)

[7, 5, 2, 1, 'Pwskills']

In [15]:
# Remove method
x = [7,5,2,1]
x.remove(7)
print(x)

[5, 2, 1]

Question 3. Describe how to access, modify,and delete elements in a list with examples.
Answer- In the Python, we can access elements in a list using their index, which is an integer value staring from (0).

In [18]:
# TO access the list
Fruits = ["Apple","Mango","Banana"]
# To access Apple
Fruits[0]

'Apple'

In [22]:
# To modify List
Fruits = ["Apple","Mango","Banana"]
Fruits[1] = 'Cherry'
print(Fruits)

['Apple', 'Cherry', 'Banana']

In [26]:
# Deleting elemets in list
#using del method
Fruits = ["Apple","Mango","Banana"]
del Fruits[1]
print(Fruits)

['Apple', 'Banana']

In [1]:
# Using remove method
Fruits = ["Apple", "Mango", "Banana"]
Fruits.remove("Mango")
print(Fruits)

['Apple', 'Banana']

Question 4. Compare and contrast tuples and lists with example.
Answer: Tuples are very similar to lists, but tuples can not be changed i.e. no any change in the contents of the tuple is allowed.A tuples can be  views as a 'constant list'. While lists employ square brackets, tuples are written with standard paraentheses or no paraentheses.
Lists are Mutable, and tuples are immutable.
Lists consume more memory and tupes consume less memory.

In [3]:
# List
List = [1,2,3,4,5,6]
print("original list",List)
List[3]= 15
print("example to show mutability",List)

original list [1, 2, 3, 4, 5, 6]
example to show mutability [1, 2, 3, 15, 5, 6]

In [4]:
# Tuple
Tuple1 = (1,2,3,4,5,6)
Tuple1[0]= 4
print(Tuple1)

TypeError: 'tuple' object does not support item assignment

In [6]:
# Indexing

my_list = [1,2,3,4]
my_tuple =(5,6,7)
print(my_list[1])
print(my_tuple[1])

2
6

In [7]:
# Slicing
my_list = [1,2,3,4]
my_tuple =(5,6,7)
print(my_list[1:3])
print(my_tuple[:3])

[2, 3]
(5, 6, 7)

In [8]:
# Python Concatenation
List1 = [1,2,3]
List2 = [4,5,6]
Tuple1 = (1,2,3)
Tuple2= (4,5,6)
print(List1 + List2)
print(Tuple1 + Tuple2)

[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)

Question 5. Describe the key features of sets and provide examples of their use.
Answer. Set have many key features .
1.Unorderd
2.Immutable
3. Unique elements
4.Built-in method
**Unorderd** :- Sets are unordered collections of unique elements. The order in which elements are added to a set is not preserved.
**Immutable**: Set elements are immutable, meaning they cannot be changed once added to the set. This ensures that sets are hashable and can be used as dictionary keys or elements of other sets.
**Unique elements**: Sets do not allow duplicate elements. If you try to add a duplicate element, it will be ignored.
**Built-in methods**: Sets have several built-in methods, including:
len(): returns the number of elements in the set.
add(): adds a new element to the set.
remove(): removes an element from the set (raises a KeyError if the element is not present).
discard(): removes an element from the set if it is present (does not raise an error if the element is not present).
union(), intersection(), difference(), symmetric_difference(): perform set operations.

In [9]:
set = {"Apple","Banana","Cherry"}
print(set)

{'Cherry', 'Banana', 'Apple'}

In [10]:
# Duplicate not allowed
set = {"Apple","Banana","Apple","Cherry"}
print(set)

{'Cherry', 'Banana', 'Apple'}

In [13]:
# length of set
set = {"Apple","Banana","Cherry"}
print(len(set))

3

In [14]:
# Add items in set
set = {"Apple","Banana","Cherry"}
set.add("Orange")
print(set)

{'Cherry', 'Banana', 'Apple', 'Orange'}

In [15]:
# Remove items in set
set = {"Apple","Banana","Cherry"}
set.remove("Apple")
print(set)

{'Cherry', 'Banana'}

In [17]:
# loop in set
set = {"Apple","Banana","Cherry"}
for x in set:
  print(x)

Cherry
Banana
Apple

In [18]:
# union in set
set1 = {"Apple","Banana","Cherry"}
set2 = {1,2,3}
set3 = set1.union(set2)
print(set3)

{'Cherry', 1, 2, 3, 'Apple', 'Banana'}

**Question 6**. Discuss the use cases of tuples and sets in Python programming.
**Answer.** Tuples and sets are both data structures in Python. Tuples are ordered collections of elements, which are immutable (meaning they can't be changed once created). Sets, on the other hand, are unordered collections of unique elements.
In Python, a tuple could be a data type comparable to a list but immutable, meaning it cannot be changed once made. A tuple is made by enclosing a sequence of values in parentheses, separated by commas.
Sets are created by placing elements inside curly braces, separated by commas. For example, three elements could be created: {1, 2, 3}. If there are duplicates in the Set, they are automatically removed. The elements of a set can also be accessed using iteration or various built-in methods.

In [19]:
# Tuple
order = ("Pwskills", "Data Analyist", 2, 15.0, "Samosa", 1, 5.0, 35.0)

print(order)

('Pwskills', 'Data Analyist', 2, 15.0, 'Samosa', 1, 5.0, 35.0)

In [20]:
# Set
order = {"Pwskills", "Data Analyist", 2, 15.0, "Samosa", 1, 5.0, 35.0}
print(order)

{1, 2, 35.0, 5.0, 'Pwskills', 'Data Analyist', 15.0, 'Samosa'}

In [21]:
# Access  elements in Tuples
my_tuple = (1, 2, 3, 4, 5)

# Accessing the first element of the tuple
print(my_tuple[0])

# Accessing the third element of the tuple
print(my_tuple[2])

1
3

In [23]:
my_set = {1, 2, 3}

my_set.add(4) # Add element 4 to the set
my_set.remove(3) # Remove element 3 from the set
my_set.discard(2) # Remove element 2 from the set (if it exists)

print(my_set)

{1, 4}

In [24]:
# union
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union = set1 | set2
intersection = set1 & set2
difference = set1 - set2

print(union)
print(intersection)
print(difference)

{1, 2, 3, 4, 5}
{3}
{1, 2}

Question 7. Describe how to add, modify, and delete items in a dictionary with examples.
Answer:- A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [26]:
My_Dict = {"brand": "Ford","model": "Mustang","year": 1964}
print(My_Dict)
print(My_Dict["brand"])

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Ford

In [27]:
# Duplicate are not allowed
My_Dict = {"brand": "Ford","model": "Mustang","year": 1964,"year": 2024}
print(My_Dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2024}

In [28]:
# Length of dict
My_Dict = {"brand": "Ford","model": "Mustang","year": 1964,"year": 2024}
print(len(My_Dict))

3

In [29]:
# Addition
My_Dict = {"brand": "Ford","model": "Mustang","year": 1964}
My_Dict["color"] = "Orange"
print(My_Dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'Orange'}

In [30]:
# Delete
My_Dict = {"brand": "Tata","model": "Punch","year": 2015}
del My_Dict["model"]
print(My_Dict)

{'brand': 'Tata', 'year': 2015}

In [31]:
# Clear
My_Dict = {"brand": "Tata","model": "Punch","year": 2015}
My_Dict.clear()
print(My_Dict)

{}

In [32]:
# Copy
My_Dict = {"brand": "Tata","model": "Punch","year": 2015}
My_Dict.copy()
print(My_Dict)

{'brand': 'Tata', 'model': 'Punch', 'year': 2015}

Question 8. Discuss the importance of dictionary keys being immutable and provide examples.
Answer:-

In [33]:
# keys()
# Dictionary with three keys
Dictionary1 = {'A': 'Made', 'B': 'in', 'C': 'India'}

# Printing keys of dictionary
print(Dictionary1.keys())

dict_keys(['A', 'B', 'C'])

In [34]:
# initializing dictionary
test_dict = {"Made": 7, "in": 1, "India": 2}

# accessing 2nd element using naive method
# using loop
j = 0
for i in test_dict:
    if (j == 1):
        print('2nd key using loop : ' + i)
    j = j + 1

2nd key using loop : in

In [35]:
# Update
Dictionary1 = {'A': 'Made', 'B': 'in'}
Dictionary1.update({'c': 'India'})
print(Dictionary1.keys())

dict_keys(['A', 'B', 'c'])

In [36]:
Dict = {1,2,3,4}
Dict[0] = 5
print(Dict)

TypeError: 'set' object does not support item assignment